@import "../styles/utils/variables";
@import "../styles/vendors/mq";


.element {
    max-width: 500px;
    padding: $spacing-m 0;

    @include mq(tablet) {
        padding: $spacing-l $spacing-m;
    }
}

.element__modified {
    max-width: 500px;
    padding: $spacing-m 0;

    @include mq(tablet) {
        padding: $spacing-s 0;
    }
}

.characteristicscontainer {
    width: 100%;
    margin: 0 auto;

    @include mq(tablet) {
        justify-self: start;
    }
}

.descriptioncontainer {
    @include mq(tablet) {
        grid-column: 1;
        grid-row: 2;
    }

    @include mq(desktop) {
        grid-column: 2;
        grid-row: 1;
    }
}

.descriptioncontainer__modified {
  
}

.actionscontainer {
    @include mq(tablet) {
        grid-column: 2;
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
        border-left: $border-normal--white;
    }

    @include mq(desktop) {
        grid-column: 3;
        grid-row: 1;
    }
}

.actionscontainer {
    
}

.date{
    padding-bottom: $spacing-m;
    color: inherit;
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }
}

.characteristic {
    color: inherit;
}

.description {
    color: inherit;
}

.status {
    color: inherit;
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }
}

.cta {
    text-align: center;
    margin-top: $spacing-m;

    @include mq(tablet) {
        text-align: left;
    }
}

.divider {
    @include mq(tablet) {
        display: none;
    }
}