@import "../styles/vendors/mq";
@import "../styles/utils/variables";

.containeroutside {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 $spacing-s;

    @include mq(desktop) {
        max-width: 1000px;
    }
}