//COLOR CYCLE

$color-cycle-anim-attr: 100s linear infinite;

.bg-color-cycle {
    animation: bg-color-cycle $color-cycle-anim-attr;
}

@keyframes bg-color-cycle {
    from {
        background-color: $color-cycle-1;
    }
    12% {
        background-color: $color-cycle-2;
    }
    25% {
        background-color: $color-cycle-3;
    }
    37% {
        background-color: $color-cycle-4;
    }
    50% {
        background-color: $color-cycle-5;
    }
    62% {
        background-color: $color-cycle-6;
    }
    75% {
        background-color: $color-cycle-7;
    }
    87% {
        background-color: $color-cycle-8;
    }
    to {
        background-color: $color-cycle-1;
    }
}

.font-color-cycle:not(.is-active) {
    animation: font-color-cycle $color-cycle-anim-attr;
}

@keyframes font-color-cycle {
    from {
        color: $color-cycle-1;
    }
    12% {
        color: $color-cycle-2;
    }
    25% {
        color: $color-cycle-3;
    }
    37% {
        color: $color-cycle-4;
    }
    50% {
        color: $color-cycle-5;
    }
    62% {
        color: $color-cycle-6;
    }
    75% {
        color: $color-cycle-7;
    }
    87% {
        color: $color-cycle-8;
    }
    to {
        color: $color-cycle-1;
    }
}

//LOGO ANIMATION

.logo-animation {
    animation: logo-animation $color-cycle-anim-attr;
    transform-origin: 42% 50%;
}

@keyframes logo-animation {
    from {
        fill: $color-cycle-1;
        transform: rotate(0deg);
    }
    12% {
        fill: $color-cycle-2;
    }
    25% {
        fill: $color-cycle-3;
    }
    37% {
        fill: $color-cycle-4;
    }
    50% {
        fill: $color-cycle-5;
    }
    62% {
        fill: $color-cycle-6;
    }
    75% {
        fill: $color-cycle-7;
    }
    87% {
        fill: $color-cycle-8;
    }
    to {
        transform: rotate(-360deg);
        fill: $color-cycle-1;
    }
}

.fill-color-cycle {
    animation: fill-color-cycle $color-cycle-anim-attr;
}

@keyframes fill-color-cycle {
    from {
        fill: $color-cycle-1;
    }
    12% {
        fill: $color-cycle-2;
    }
    25% {
        fill: $color-cycle-3;
    }
    37% {
        fill: $color-cycle-4;
    }
    50% {
        fill: $color-cycle-5;
    }
    62% {
        fill: $color-cycle-6;
    }
    75% {
        fill: $color-cycle-7;
    }
    87% {
        fill: $color-cycle-8;
    }
    to {
        fill: $color-cycle-1;
    }
}
