p {
    font-family: $font-text;
}

b, strong {
    font-weight: 700;
}

header a {

    &.is-active {
        color: $black-transparent-medium;
    }

    &:not(.is-active):hover {
        color: $black !important;
    }
}

.h1-title, [class*="h1-title"] {
    $self: &;
    font-family: $font-headline;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: $spacing-m;
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }

    &[class*="--white"] {
        color: $white;
    }
}

.h2-title, [class*="h2-title"] {
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: $spacing-l;

    @include mq(tablet) {
        font-size: 22px;
    }

    @include mq(desktop) {
        font-size: 25px;
    }

    &[class*="--white"] {
        color: $white;
    }
}

.h3-title, [class*="h3-title"] {
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: $spacing-s;

    &[class*="--white"] {
        color: $white;
    }

    &[class*="--important"] {
        font-size: 30px;

        @include mq(tablet) {
            font-size: 20px;
        }
    }
}

.text-normal, [class*="text-normal"] {
    font-family: $font-text;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;

    @include mq(tablet) {
        font-size: 15px;
    }

    @include mq(desktop) {
        font-size: 15px;
    }

    &[class*="--white"] {
        color: $white;
    }
}

.h4-title, [class*="h4-title"] {
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: $spacing-m;
    text-transform: uppercase;

    @include mq(tablet) {
        font-size: 13px;
    }

    &[class*="--white"] {
        color: $white;
    }
}

.text-small, [class*="text-small"] {
    font-family: $font-text;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 1px;

    @include mq(tablet) {
        font-size: 14px;
        text-align: left;
    }

    @include mq(desktop) {
        font-size: 14px;
    }

    &[class*="--white"] {
        color: $white;
    }
}

.text-very-small, [class*="text-very-small"] {
    font-family: $font-text;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 1px;

    &[class*="--white"] {
        color: $white;
    }
}

.text-form {
    font-family: $font-text;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;

    @include mq(tablet) {
        font-size: 14px;
    }

    @include mq(desktop) {
        font-size: 15px;
    }
}

