@import "../styles/utils/variables";
@import "../styles/vendors/mq";


.element {
    max-width: 500px;
    padding: $spacing-m 0;
    margin: 0 auto;

    @include mq(tablet) {
        padding: $spacing-l $spacing-m;
    }
}

.characteristicscontainer {
    width: 100%;
}

.descriptioncontainer {
    width: 100%;

    @include mq(tablet) {
        grid-column: 1;
        grid-row: 2;
    }

    @include mq(desktop) {
        grid-column: 2;
        grid-row: 1;
    }
}

.actionscontainer {
    width: 100%;

    @include mq(tablet) {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 100%;
        border-left: $border-normal--white;
    }

    @include mq(desktop) {
        grid-column: 3;
        grid-row: 1;
    }
}

.date {
    padding-bottom: $spacing-m;
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }
}

.status {
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }
}

.cta {
    text-align: center;
    margin-top: $spacing-m;

    @include mq(tablet) {
        text-align: left;
    }
}

.divider {
    @include mq(tablet) {
        display: none;
    }
}