@import "../styles/utils/variables";

.recaptcha {
    border: $border-normal;
    box-sizing: border-box;
    background: none;
    margin-bottom: $spacing-m;
    outline: none;
    width: 100%;
    
    &:focus, &:hover {
        border-color: $blue;
    }
}

