@import "../styles/utils/variables";
@import "../styles/vendors/mq";

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $white;
}

.container {
    display: grid;
}

.logo {
    position: relative;
    justify-self: start;
    padding: $spacing-s;
    margin: $spacing-xs 0;
    grid-row: 2;

    @include mq(tablet) {
        grid-row: 1;
        margin: 0 0 48px;
    }
}

.logolink {
    position: absolute;
    top: -31px;

    @include mq(tablet) {
        top: 0;
    }

    svg {
        max-width: 100px;
        max-height: 100px;

        @include mq(tablet) {
            max-width: 120px;
            max-height: 120px;
        }
    }
}

.nav {
    justify-self: end;

    @include mq(tablet) {
        grid-row: 1;
    }
}

.navlist {
    list-style: none;
    display: flex;

    li {
        font-family: $font-text;
        margin: $spacing-m 0;

        @include mq(tablet) {
            margin: $spacing-m;
        }

        a {      
            text-decoration: none;
            font-size: 12px;
            padding: $spacing-s;
            font-weight: 400;
            text-transform: uppercase;

            @include mq(tablet) {
                font-size: 13px;
                padding: $spacing-xs;
            }
            @include mq(tablet) {
                font-size: 14px;
            }
        }     
    }
}
