@import "../styles/utils/variables";
@import "../styles/vendors/mq";

.container {
    display: flex;
    flex-direction: column;
    padding: $spacing-xxl $spacing-m $spacing-xl;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;

    @include mq(tablet) {
        padding: $spacing-xl $spacing-m;
        justify-content: left;
    }
}

.title {
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }
}

.divider {
    margin: $spacing-m auto;

    @include mq(tablet) {
        margin: $spacing-m 0;
    }
}

.recaptcha {
    border: $border-normal;
    box-sizing: border-box;
    background: none;
    margin-bottom: $spacing-m;
    outline: none;
    width: 100%;
    
    &:focus, &:hover {
        border-color: $blue;
    }
}

.submit {
    margin: $spacing-l auto 0;

    @include mq(tablet) {
        margin: $spacing-l 0 0;
    }
}