@import "../styles/utils/variables";
@import "../styles/vendors/mq";

.body {
    min-height: 100vh;
    padding-bottom: $spacing-l;

    @include mq(tablet) {
        $spacing-bottom: 0;
    }
}

.navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    padding: $spacing-s;
}

.quit {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding: $spacing-s;
    text-decoration: none;
    color: $white;
    transition: .3s $ease-in-quad;

    &:hover {
        color: $black;

        .cross {
            color: $black;
        }
    }
}

.button {
    border-radius: 50%;
    border: $border-normal--white;
    width: 50px;
    height: 50px;
    margin: $spacing-xs;
    transition: .3s $ease-in-quad;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross{
    font-family: $font-primary;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: $white;
    transition: .3s $ease-in-quad;
}

.title {
    width: 100%;
    padding-top: $spacing-xxl;
    text-align: center;
    color: $white;

    @include mq(tablet) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        text-align: left;
        padding: $spacing-m;
        width: auto;
        max-width: 12.5vw;
    }
}

.divider {
    @include mq(tablet) {
        margin-left: 0;
    }
}
