@import "../styles/utils/variables";
@import "../styles/vendors/mq";

.body {
    min-height: 100vh;
    padding-bottom: $spacing-l;
    background-color: white;

    @include mq(tablet) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding-bottom: 0;
    }
    @include mq(desktop) {
        grid-template-columns: 3fr 1fr;
    }
}

.navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    padding: $spacing-s;

    @include mq(tablet) {
        top: 0;
        right: $spacing-xxl;
        bottom: unset;
    }
}

.slider {
    @include mq(tablet) {
        display: flex;
        height: 100vh;
    }
}

.container {
    @include mq(tablet) {
        border-left: $border-normal;
    }
}

.info {
    max-width: 500px;
    margin: 0 auto;
    padding: $spacing-l $spacing-s;

    @include mq(tablet) {
        padding: $spacing-xxl $spacing-m;
    }
}

.desc {
    display: flex;
    flex-direction: column;
    border-top: $border-normal--white;
    padding: $spacing-l $spacing-s;
    justify-items: center;

    @include mq(tablet) {
        border-top: unset;
    }
}